body {
  margin: 0;
  /* padding: 0; */
  width: 200px;
  min-height: 80px;
  -webkit-font-smoothing: antialiased;
}

.header-container {
	height: 30px;
	outline: none;
	text-align: center;

}

.header-container > h1 {
	color: pink;
	font-size: 1.25rem;
	background-color: powderblue;
}

.information-container {
	padding-left: 6px; 
	/* padding: 6px; */
	text-align: left;
}

#annotationCount {
	font-weight: bold;
}

#exportLink {
	margin: 6px;
	/* text-align: left; */
	/* float: left; */
}

#disableLink {
	margin: 6px;
	/* text-align: right; */
	/* float: right; */
}

.lean-left {
	float: left;
	text-align: left;
}

.lean-right {
	float: right;
	text-align: right;
}

.form-container {
	position: absolute; 
	outline: none;
	width: 200px;
	bottom: 0px; 
}
