/**
 * Place your custom CSS styles here.
 **/

div.survey-container-user{
    width:100%;
    height: 30px;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index:99;

}

div.survey-container-tweet{
    /*width:100%;*/
    /*display:inline-block;*/
    /*height: 30px;*/
    background-color: #333;
    /*overflow:auto;*/
    /*position: fixed;*/
    top: 0;
    z-index:99;
}

div.notification-container{
    /*	Show on top as a banner*/
    display: inline-flex;
    /*position: fixed;*/
    width: 100%;
    /*top: 0px;*/
    /*left: 0px;*/
    background-color: #f5f5f5;
    text-align: right;
}

.notification-container > span{
    width:100%;
}

/*These are for user survey on top*/
#surveyForm{
    display: flex;
    position: fixed;
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    color:#333;
}

#surveyForm > div {
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

#surveyForm > div.notification-container {
    /*	Show on top as a banner*/
    display: inline-flex;
    /*position: fixed;*/
    width: 100%;
    /*top: 0px;*/
    /*left: 0px;*/
    background-color: #f5f5f5;
    text-align: right;
}

.surveyFormTweet{
    display: flex;
    /*position: absolute;*/
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    color:#333;
}

.surveyFormTweet > div {
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

.surveyFormTweet > div.notification-container {
    /*	Show on top as a banner*/
    display: inline-flex;
    /*position: fixed;*/
    width: 100%;
    /*top: 0px;*/
    /*left: 0px;*/
    background-color: #f5f5f5;
    text-align: right;
}


.flexbox-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

div.form-group {
    background-color: #f5f5f5;
    margin: 10px;
    padding: 20px;
    flex-basis: 0;
    min-width: 20%;
    flex: 1 1 0;
<!-- min-width: 400px; -->
<!-- font-size: 30px; -->
}

.submitButton{
    margin: 10px;
}